$color-green: #07c776;
$color-green-black: #01a25e;
$color-grey-white: #f1f1f1;
$color-grey: #e7e7e7;

.highlighted-text {
  display: block;
  color: white;
  font-size: 20px;
  text-align: center;
  background-color: $color-green-black;
  padding: 12px 0;
}
