@import '../../shared/shared.scss';

.stakeholders-component {
    .stakeholders-slider {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 40px;
        background-color: white;

        .triangle-left,
        .triangle-right {
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            cursor: pointer;
        }

        .triangle-left {
            border-width: 22.5px 20px 22.5px 0;
            border-color: transparent $color-green transparent transparent;
        }

        .triangle-right {
            border-width: 22.5px 0 22.5px 20px;
            border-color: transparent transparent transparent $color-green;
        }
    }

    .stakeholders-content {
        .title {
            font-size: 20px;
            text-align: center;
            background-color: white;
            margin-top: 20px;
            padding: 10px 0;
        }
    }
}