<div class="stakeholders-component">
    <div class="sroi-multiplier-block">SROI Multiplier: $1:${{$ctrl.sroiMultiplier}}</div>
    <div class="stakeholders-slider">
        <span class="left-arrow"></span>
        <div class="slider-content">
            <div>
                <span>{{$ctrl.stakeholders.staticResources.nameLabel}} {{$ctrl.currentStakeholderIndex + 1}}</span>
                <span> : </span>
                <span>{{$ctrl.currentStakeholder.staticResources.name}}</span>
            </div>
            <div>
                <span>{{$ctrl.stakeholders.staticResources.numberLabel}}</span>
                <span> : </span>
                <span>{{$ctrl.currentStakeholder.number}}</span>
            </div>
            <div>
                <span>{{$ctrl.stakeholders.staticResources.totalValueLabel}}</span>
                <span> : </span>
                <span>${{$ctrl.totalDollarValue}}</span>
            </div>
        </div>
        <span class="right-arrow"></span>
    </div>
    <div class="stakeholders-content">
        <div class="title">{{$ctrl.staticResources.dollarQuantifiablesTitle}}</div>
        <div class="dollar-quantifiables-block">

        </div>
    </div>
</div>