@import '../../shared/shared.scss';

.social-impact-component {
  background-color: white;
  padding: 15px 20px;

  .highlighted-text {
    cursor: pointer;
  }

  .content {
    .year-dropdown,
    .dataset-dropdown {
      height: 50px;
      text-align: center;
      float: left;
    }

    .dataset-dropdown {
      background-color: $color-green;
      width: 75%;
    }

    .year-dropdown {
      background-color: $color-green-black;
      width: 25%;
    }

    .image-description {
      display: block;
      text-align: center;
      font-size: 12px;
      padding-top: 7px;
    }

    .value {
      font-size: 42px;

      @media (max-width: 768px) {
        font-size: 22px;
      }
    }
  }

  .quantifiables-container {
    display: flex;
    width: 100%;

    @media (max-width: 768px) {
      flex-flow: column;
    }

    &>* {
      flex-grow: 1;
      flex-basis: 0;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      @media (max-width: 768px) {
        min-height: fit-content;
      }

      &:first-child {
        .quantifiables-content-wrapper {
          padding-left: 25px;
          padding-right: 25px;
        }
      }

      &:nth-child(2) {
        margin: 0 3px;
      }
    }

    .title {
      text-align: center;
      background-color: #e9f1f2;
      height: 50px;
      line-height: 50px;
      font-size: 18px;
    }
  }

  .quantifiables-content-wrapper {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #f8f8f8;
    padding: 37px 0 31px;
    height: 100%;

    .quantifiables-content {
      display: inline-block;
      min-width: fit-content;

      .value,
      .image-wrapper {
        display: inline-block;
      }

      .image-wrapper {
        img {
          width: 58px;

          @media (max-width: 768px) {
            width: 50px;
          }
        }
      }

      .value {
        margin-right: 8px;
        line-height: 60px;
        vertical-align: top;
      }

      .description {
        font-size: 14px;
        padding-top: 20px;
        text-align: left;
      }
    }
  }
}