<section class="funding_partner">
   <div class="row">
      <div class="col-md-6">
         <div class="content_box">
            <h3 class="counding">Founding Information</h3>
            <h2>{{fundInfo.AmountSign}} {{fundInfo.Amount}}</h2>
            <p>Net Founding</p>
            <hr>
            <div ng-repeat="funds in fundInfo.FundingList">
               <p class="fs">{{funds.Label}}</p>
               <div class="progress ht">
                  <div class="progress-bar"  role="progressbar" aria-valuenow="{{funds.Percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{funds.Percentage}}%">
                     <span class="sr-only">{{funds.Percentage}}% Complete (success)</span>
                  </div>
               </div>
            </div>            
         </div>
      </div>
      <!--/col-md-6-->
      <div class="col-md-6">
         <div class="content_box">
          <h3 class="counding">Partner Organization</h3>
          <div class="c_logo">
            <div class="div_logo" ng-repeat="partner in partners">
               <img ng-src="{{partner.Partnership_ImageURL}}" class="logo_img"><br>
               <a href="#" class="logo_n">{{partner.Partnership_Title}}</a>
            </div>          
          </div>
         </div>
  </div>
      <!--/col-md-6-->
   </div>
</section>