<style type="text/css">
  .flist{
        margin: 0px 0px 10px 0px;
  }
</style>
<section class="funding_partner">
   <div class="row">
      <div class="col-md-6">
         <div class="content_box">
<div class="pull-right">
                  <p><span class="chat"><img ng-src="{{projectData.sharedResources.blogImage}}" class="cc_icons"></span> | <span class="light ng-binding"> <i class="fa fa-lightbulb-o fa-lg2"></i> {{fundInfo.Insight}} <a href="javascript:void(0);" class="ins_c"> Insights</a></span></p>
               </div>
            <h3 class="counding">Funding Information</h3>
<div class="border_btottom2"></div>
            <h2 class="f_i"><sup class="t_pd2">{{fundInfo.AmountSign}}</sup> {{fundInfo.Amount}}</h2>
            <p class="net_f">Net Funding</p>
            <hr>
            <div class="flist" ng-repeat="funds in fundInfo.FundingList">
               <p class="fs">{{funds.Label}}  <span class="ghd pull-right"> {{funds.Percentage}} %</span></p>
               <div class="progress ht">
                  <div class="progress-bar"  role="progressbar" aria-valuenow="{{funds.Percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{funds.Percentage}}%;background-color: {{funds.Color}}">
                     <span class="sr-only">{{funds.Percentage}}% Complete (success)</span>
                  </div>
               </div>
            </div>            
         </div>
      </div>
      <!--/col-md-6-->
      <div class="col-md-6">
         <div class="content_box">
          <div class="pull-right">
                  <p><span class="chat"><img ng-src="{{projectData.sharedResources.blogImage}}" class="cc_icons"></span> | <span class="light ng-binding"> <i class="fa fa-lightbulb-o fa-lg2"></i> {{partnerInsgt}} <a href="javascript:void(0);" class="ins_c"> Insights</a></span></p>
               </div>
          <h3 class="counding">Partner Organization</h3>
<div class="border_btottom2"></div>
          <div class="c_logo">
            <div class="div_logo" ng-repeat="partner in partners" ng-if="partner.Partnership_ImageURL!=''">
               <a href="#" class="v_all"><img ng-src="{{partner.Partnership_ImageURL}}" class="logo_img"></a>
            </div>
            <div class="v_a_ll"><a href="#partner_org" data-toggle="tab" class="v_all pull-right">View All</a></div>       
          </div>
         </div>
  </div>
      <!--/col-md-6-->
   </div>
</section>