<section class="milestone">
	<div class="content_box a3">
		<div class="row">
			<div class="col-md-12">
				<div class="ttl_header bdr">
<div class="pull-right">
            <p><span class="chat"><img src="img/blogging.png" class="cc_icons"></span> | <span class="light ng-binding"> <i class="fa fa-lightbulb-o fa-lg2"></i> {{milestone_insite}} Insights</span></p>
          </div>
					<h4 class="content_title">Milestone</h4>
<div class="border_btottom2"></div>
				</div>

				<div class="mile_sec">
					<div class="row">
						<div class="col-md-12">
							<div class="">
								<input type="text" name="" ng-model="mile" ng-change="search_milestone(mile)" class=" search form_control" placeholder="Search Project"> 
							</div>
						</div>
					</div>
				</div>

				<!-- <div class="mile_sec">
					<div class="maile_stone_box" ng-repeat="mile in milestone">
						<ul class="maile_list">
							<li>
								<img ng-src="{{mile.Image}}" alt="01" class="maile_icons" >
								<span class="maile_title">{{mile.MainTitle}}</span><br><small class="rgt">{{mile.SubTitle}}</small>
							</li>
							
							<li><span class="maile02">{{mile.Date}}</span></li>
							<li><span class="maile02">{{mile.StatusLabel}}</span></li>
							<li class="mil_blt"><img ng-src="{{mile.StatusIcon}}" class="img-bullet"></li>
						</ul>
					</div>
				</div> --> <!--/mile_sec-->


				<!--update mile_sec-->
				<div class="mile_sec with_scroll">
					<div class="stone_line"></div>
					<ul class="mile_new_sec">
						<li ng-repeat="milest in milestone">
							<div class="maile_stone_container">
								<div class="left_mile_sec left_mile_{{$index+1}}">
									<div class="day_maonth">
										<!-- <span>{{milest.Date | date:'dd-M'}}</span>	 -->
										<span>{{dateMonth(milest.Date)}}</span>	
									</div>
									<div class="m_stone_progress">
										<div class="progress m_s_pro">
										 <small class="pcnt">{{milest.StatusPercentage}}%</small>
										  <div class="progress-bar progress-bar-success {{milest.StatusColor}}" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{milest.StatusPercentage}}%">
										    <span class="sr-only">{{milest.StatusPercentage}}% Complete (success)</span>
										  </div>
										</div>
									</div>
								</div><!--//left_mile_sec-->


								<div class="right_mile_sec">
									<h4 class="list_title2">{{milest.MainTitle}}</h4>
									<div class="maile_conainer">
										<h5 class="wd_work"><span class="wbd_title"> {{milest.SubTitle}}</span> <a href="javascript:void(0)" class="days2"><i class="fa fa-calendar"></i> in {{timeDiffInMinutes(milest.Date)}} Days</a> </h5>
										<p class="dpmnt_des"> {{milest.Description}}</p>
									</div>
									<div class="maile_footer">
										<p class="footer_buttons">
											<a href="#"><i class="fa fa-pencil-square-o"></i> Edit</a>
											<!-- <a href="#" ng-click="mileStCmnt(milest.Comments)"><i class="fa fa-comment-o"></i> {{milest.Comments.length}} Comments</a> -->
											<a href="#" ng-click="mileStTask(milest.Task)"><i class="fa fa-check"></i> {{milest.Task.length}} Tasks</a>
											<a href="#" ng-click="mileStAttach(milest.Attachment)"><i class="fa fa-paperclip"></i> {{milest.Attachment.length}} Attachments</a>
										</p>
									</div>
								</div><!--//right_mile_sec-->
							</div><!--//maile_stone_container-->
						</li>

						<!-- <li>
							<div class="stone_line"></div>
							<div class="maile_stone_container">
								<div class="left_mile_sec">
									<div class="day_maonth">
										<span>30</span><br>
										<span>NOV</span>
									</div>
									<div class="m_stone_progress">
										<div class="progress m_s_pro">
										 <small class="pcnt">10%</small>
										  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
										    <span class="sr-only">40% Complete (success)</span>
										  </div>
										</div>
									</div>
								</div>


								<div class="right_mile_sec">
									<h4 class="list_title2">Web Development Work</h4>
									<div class="maile_conainer">
										<h5 class="wd_work"><span class="wbd_title"> Web Development Work </span> <a href="#" class="days2" data-toggle="modal" data-target=".maile_stone_moal"><i class="fa fa-calendar"></i> in 15 Days</a> </h5>
										<p class="dpmnt_des"> Web Development Work  Web Development Work  Web Development Work</p>
									</div>
									<div class="maile_footer">
										<p class="footer_buttons">
											<a href="#"><i class="fa fa-pencil-square-o"></i> Edit</a>
											<a href="#"><i class="fa fa-comment-o"></i> 0 Comments</a>
											<a href="#"><i class="fa fa-check"></i> 3 Tasks</a>
											<a href="#"><i class="fa fa-paperclip"></i> 1 Attachments</a>
										</p>
									</div>
								</div>
							</div>
						</li> -->
					</ul>
				</div><!--//update mile_sec-->

				<div></div>

			</div><!--//col-md-12-->
		</div><!--///row-->
	</div><!--/content_box-->
</section>


<!--maile_stone_moal-->
<div class="modal fade maile_stone_moal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <div class="commets_container">
      <h3 class="mod_comment">Comments</h3>
      <div class="comments_box" ng-repeat="mlcmnt in milst_cmnt">
	   <div class="media">
		    <div class="media-left">
		       <a href="#">
		       <img class="media-object user_profile" ng-src="{{mlcmnt.AuthorImgurl}}">
		       </a>
		    </div>
		    <div class="media-body">
		        <p class="comment_content">{{mlcmnt.CommentDescription}}</p>
		        <p>
		           <span class="insd">{{mlcmnt.Author}}</span>
		           <span class="insd date"><small >{{mlcmnt.Date}}</small></span>
		        </p>
		    </div>
	    </div>
	</div>
	</div><!--//commets_container-->
    </div>
  </div>
</div>
<!----------Task-->
<div class="modal fade milestone_task" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	 <div class="modal-dialog modal-sm" role="document">
	    <div class="modal-content">
	    	<div class="commets_container">
			    <h3>Task List</h3>
			    <div class="comments_box">     
			      <div class="media-body">
			         <ul class="maile_task2">
			         	<li ng-repeat="mltask in milst_task">
			         		{{mltask}}
			         	</li>
			         </ul>
			      </div>	 
				</div>
			</div><!--//commets_container-->
	    </div>
	 </div>
</div>
<!----------Attachment-->
<div class="modal fade milestone_attach" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
    	<div class="commets_container">
      	<h3>Attachments</h3>
	    <div class="comments_box">     
	      <div class="media-body">
	         <ul class="maile_task3">
	         	<li ng-repeat="mlattach in milst_attach">
	         		<a href="{{mlattach.Url}}" download>{{mlattach.Label}}</a>
	         	</li>
	         </ul>
	      </div>	 
		</div>
		</div><!--//commets_container-->
    </div>
  </div>
</div>




