<div class="social-return-component" ng-if="$ctrl.yearsData">
    <div class="header">
        <div class="main-title-wrapper">
            <span class="main-title">Social Return On Investment (SROI)</span>
            <div class="title-underscore"></div>
        </div>
        <div class="dropdowns-wrapper">
            <div class="year-dropdown">
                <select ng-model="$ctrl.selectedYear"
                    ng-options="year.name for year in $ctrl.yearsData track by year.name"
                    ng-change="$ctrl.changeYear($ctrl.selectedYear)"></select>
            </div>
            <div class="dataset-dropdown">
                <select ng-model="$ctrl.selectedDataset"
                    ng-options="dataset.name for dataset in $ctrl.selectedYear.dataset track by dataset.name"
                    ng-change="$ctrl.changeDataset($ctrl.selectedDataset)"></select>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="sroi-multiplier-title">
            SROI Multiplier: $1:${{ $ctrl.calculateSroiMultiplier() }}
        </div>
        <div class="charts-section">
            <div class="social-returns-chart">
                <div class="title">Social Returns = ${{$ctrl.totalIncome}}</div>
                <div id="socialReturnContainer"></div>
                <div class="pro_pdng">
                    <div class="progress_div3 core"
                        ng-repeat="stakeholder in $ctrl.selectedDataset.stakeholders.data track by $index">
                        <div>
                            <div>
                                <span>{{$ctrl.staticResources.nameLabel}} {{$index + 1}}</span>
                                <span> : </span>
                            </div>
                            <div>{{stakeholder.name}}</div>
                            <div>
                                <span>{{$ctrl.staticResources.numberLabel}}</span>
                                <span> : </span>
                                <span>{{stakeholder.number}}</span>
                            </div>
                            <div class="stakeholder-percentage">{{$ctrl.calculateStakeholderValuePercent(stakeholder)}}%
                            </div>
                        </div>
                        <div class="progress ht">
                            <div id="sperprogress_{{$index}}" class="progress-bar progress-bar-success"
                                role="progressbar"
                                aria-valuenow="{{$ctrl.calculateStakeholderValuePercent(stakeholder)}}"
                                aria-valuemin="0" aria-valuemax="100"
                                style="width: {{$ctrl.calculateStakeholderValuePercent(stakeholder)}}%; background-color:{{$ctrl.stakeholdersColors[$index]}}">
                                <span class="sr-only">{{$ctrl.calculateStakeholderValuePercent(stakeholder)}}% Complete
                                    (success)</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="sroi">
                    <p class="t_return">SROI: Total Investment/Total Return</p>
                </div>
            </div>
            <div class="investment-chart">
                <div class="title">Investment = ${{$ctrl.totalInvestment}}</div>
                <div id="investmentContainer"></div>
                <div class="pro_pdng">
                    <div class="progress_div3 core"
                        ng-repeat="investment in $ctrl.selectedDataset.investments track by $index">
                        <p>
                            <span>{{investment.name}}</span>
                            <span class="pull-right"
                                id="per_{{$index}}">{{$ctrl.calculateInvestmentValuePercent(investment)}}%</span>
                        </p>
                        <div class="progress ht">
                            <div id="perprogress_{{$index}}" class="progress-bar progress-bar-success"
                                role="progressbar" aria-valuenow="{{investment.value}}" aria-valuemin="0"
                                aria-valuemax="100"
                                style="width: {{$ctrl.calculateInvestmentValuePercent(investment)}}%;background-color: {{$ctrl.investmentsColors[$index]}}">
                                <span class="sr-only">{{$ctrl.calculateInvestmentValuePercent(investment)}}% Complete
                                    (success)</span>
                            </div>
                        </div>
                    </div>
                    <div class="sroi">
                        <p class="t_return"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sroi-multiplier-title">
            SROI Multiplier: $1:${{ $ctrl.calculateSroiMultiplier() }}
        </div>
        <stakeholders stakeholders="$ctrl.selectedDataset.stakeholders" static-resources="$ctrl.staticResources">
        </stakeholders>

        <section style="margin-top: 10px;">
            <div class="table_tab_a" style="border: 1px solid #dedede;">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
                    <ul class="nav nav-tabs table_tabs7" id="myTabs" role="tablist">
                      <li role="presentation" class="active"><a href="#investment" id="home-tab" role="tab" data-toggle="tab" aria-controls="home"
                          aria-expanded="true">Investment (${{$ctrl.totalInvestment}})</a></li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane active" role="tabpanel" id="investment" aria-labelledby="home-tab">
                        <div class="container-fluid">
                          <div class="row" style="border-bottom: 1px solid #ccc;">
                            <div class="col-md-12 elements-color" id="auto_height1" style="border-right: 1px solid #ccc;  padding-left: 0px; padding-right: 0px;">
                              <ul class="list-style">
                                <li ng-repeat="investment in $ctrl.selectedDataset.investments track by $index">
                                  <span class="tcl_b" style="float: right;">
                                    <input type="text" ng-model="investment.value" class="c_val">
                                  </span>
                                  <span class="tcl_b">{{investment.name}}</span>
                                </li>
                              </ul>
                              <a href="#" ng-click="$ctrl.showInvestmentModal()" class="plus2" style="margin-left: 5px; line-height: 3;">+
                                Add</a>
                            </div>
          
                          </div>
                          <div class="row">
                            <div class="col-md-8" style="background-color: #01ab63;height: 38px;">
                            </div>
                            <div class="col-md-4" style="background-color: #01ab63;">
                              <div class="total-amount">
                                <span>Total</span>
                                <span class="pull-right">${{$ctrl.totalInvestment}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="investmentModal" role="dialog">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-body">
                      <div class="add_cl_rw">
                        <div class="modal-body mx-3">
                          <div class="md-form mb-5">
                            <label for="text">Text</label>
                            <input type="text" id="text1" class="form-control" ng-model="$ctrl.newInvestment.name">
                          </div>
                          <div class="md-form mb-4">
                            <label for="text">Number</label>
                            <input type="number" id="value1" class="form-control" ng-model="$ctrl.newInvestment.value">
                          </div>
                          <br>
                          <button type="button" class="btn btn-primary" ng-click="$ctrl.addInvestment($ctrl.newInvestment)">Add</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </section>
    </div>
</div>